<h1>About us</h1>

<p>This is a calendar aggregator site running on the Calagator platform using the "generic" theme. To learn more about creating custom themes, read <code>themes/README.txt</code> and <code>themes/README_for_Calagator.txt</code>.</p>
